* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Encode Sans Expanded', sans-serif;
}

.container {
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width: 500px;
    height: 200px;
    position: relative;
}

.count-down-header {
    background-color: tomato;
    position: absolute;
    top: -15px;
    left: 27%;
}

.title-text {
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.count-down {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    padding-top: 35px;
}

#hour, #min, #second, #count-hour-value, #count-min-value, #count-second-value {
    border-radius: 2px;
    padding: 0px 5px;
    font-size: 60px;
}

/* Countdown */
.form * {
    display: block;
    width: 80%;
    margin: auto;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.form input[type="number"] {
    padding: 10px;
    margin: 5px auto;
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.form input[type="submit"] {
    padding: 10px;
    margin: 5px auto;
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}